@model PortalCompras.Models.LicitacionCotizacionProv

@{
    ViewBag.Title = "Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Esta seguro que desea borrar?</h3>
<div>
    <h4>LicitacionCotizacionProv</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCotizacionProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCotizacionProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licitacione.NombreLicitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licitacione.NombreLicitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.NombreProveedor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
