@model PortalCompras.Models.LicitacionCotizacionProv

@{
    ViewBag.Title = "Cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCotizacionProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCotizacionProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licitacione.NombreLicitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licitacione.NombreLicitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.NombreProveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCotizacion }) |
    @Html.ActionLink("Volver", "Index")
</p>
