@model IEnumerable<PortalCompras.Models.LicitacionCotizacionProv>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaCotizacionProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licitacione.NombreLicitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.NombreProveedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCotizacionProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Licitacione.NombreLicitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.NombreProveedor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCotizacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCotizacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCotizacion })
        </td>
    </tr>
}

</table>
