@model PortalCompras.Models.Proveedor

@{
    ViewBag.Title = "Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>¿Esta seguro que desea borrar?</h2>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Razon social 
            @*@Html.DisplayNameFor(model => model.NombreProveedor)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>

        <dt>
            CUIT
            @*@Html.DisplayNameFor(model => model.CUITProveedor)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUITProveedor)
        </dd>

        <dt>
            Telefono
            @*@Html.DisplayNameFor(model => model.TelProveedor)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelProveedor)
        </dd>

        <dt>Correo electronico
            @*@Html.DisplayNameFor(model => model.CorreoProveedor)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoProveedor)
        </dd>

        <dt>
            Domicilio
            @*@Html.DisplayNameFor(model => model.DomicilioProveedor)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DomicilioProveedor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
