@model PortalCompras.Models.AdjudicacionLicitacionProveedor

@{
    ViewBag.Title = "Adjudicación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormaPagoAdj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPagoAdj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicitacionCotizacionProv.IdCotizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicitacionCotizacionProv.IdCotizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licitacione.NombreLicitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licitacione.NombreLicitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdAdjudicacion }) |
    @Html.ActionLink("Volver", "Index")
</p>
