@model IEnumerable<PortalCompras.Models.Producto>

@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producto</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionProducto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdProducto }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdProducto }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdProducto })
        </td>
    </tr>
}

</table>
