@model IEnumerable<PortalCompras.Models.Licitador>

@{
    ViewBag.Title = "Licitador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Licitador
            @*@Html.DisplayNameFor(model => model.NombreLicitador)*@
        </th>
        <th>
            Organismo Licitante
            @*@Html.DisplayNameFor(model => model.OrganismoLicitante.NombreOrganismoLicitante)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreLicitador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganismoLicitante.NombreOrganismoLicitante)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdLicitador }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.IdLicitador }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdLicitador }) |

            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("Volver a menu inicial", "indexlogueado", "Home", new { area = "" }, new { @class = "nav-link" })</p>
