@model PortalCompras.Models.Licitacione

@{
    ViewBag.Title = "Licitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Esta seguro que desea borrar?</h3>
<div>
    <h4>Licitacione</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreLicitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreLicitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacionLicitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacionLicitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCierreLicitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCierreLicitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAdjudicacionLicitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAdjudicacionLicitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesLicitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionesLicitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licitador.NombreLicitador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licitador.NombreLicitador)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
