@model IEnumerable<PortalCompras.Models.Licitacione>

@{
    ViewBag.Title = "Licitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreLicitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacionLicitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCierreLicitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAdjudicacionLicitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObservacionesLicitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licitador.NombreLicitador)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreLicitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacionLicitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierreLicitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAdjudicacionLicitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacionesLicitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Licitador.NombreLicitador)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdLicitacion }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.IdLicitacion }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdLicitacion })
                @Html.ActionLink("Cotizaciones", "Index", "LicitacionCotizacionProv", new { Id = item.IdLicitacion }, null)
                @Html.ActionLink("Adjudicaciones", "Index", "AdjudicacionLicitacionProveedor", new { Id = item.IdLicitacion }, null)
            </td>
        </tr>
    }

</table>
