@model PortalCompras.Models.OrganismoLicitante

@{
    ViewBag.Title = "Organismo licitante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Organismo licitante
            @*@Html.DisplayNameFor(model => model.NombreOrganismoLicitante)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreOrganismoLicitante)
        </dd>

        <dt>
            Contacto
            @*@Html.DisplayNameFor(model => model.ContactoOrganismoLicitante)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactoOrganismoLicitante)
        </dd>

        <dt>
            Dirección
            @*@Html.DisplayNameFor(model => model.DireccionOrganismoLicitante)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionOrganismoLicitante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdOrganismoLicitante }) |
    @Html.ActionLink("Volver", "Index")
</p>
