@model IEnumerable<PortalCompras.Models.OrganismoLicitante>

@{
    ViewBag.Title = "Organismo Licitante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organismo Licitante</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreOrganismoLicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactoOrganismoLicitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionOrganismoLicitante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreOrganismoLicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactoOrganismoLicitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionOrganismoLicitante)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdOrganismoLicitante }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdOrganismoLicitante }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdOrganismoLicitante })
        </td>
    </tr>
}

</table>
